@charset "UTF-8";
@font-face {
  font-family: Averta;
  src: url("../font/FontsFree-Net-AvertaStandard-Regular.ttf") format("truetype"); }

body h1 {
  font-family: Averta;
  color: #242625;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px; }

body p {
  font-family: Averta;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #242625; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  max-width: 1248px;
  margin-left: auto;
  margin-right: auto; }
  .header img {
    max-width: 100%;
    height: 30px;
    margin-top: 15px;
    margin-right: 20px; }

.introducao-bg {
  max-width: 1248px;
  align-items: center;
  margin-left: auto;
  margin-right: auto; }

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: url("../img/Foto.png");
  background-position: right;
  border-radius: 32px; }
  .introducao .card {
    background: linear-gradient(225deg, #079D56 0%, #006B3F 100%);
    width: 612px;
    height: 304px;
    border-radius: 32px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
  .introducao .card h1 {
    color: #FFFFFF;
    font-family: Averta;
    font-size: 40px;
    line-height: 60px;
    font-weight: 700;
    position: absolute;
    margin-left: 106px;
    margin-right: 106px; }
  .introducao .img-bg img {
    max-width: 100%;
    display: block;
    height: 304px;
    margin-right: 50px;
    position: absolute;
    right: 0;
    border-radius: 0 32px 32px 0; }

.navegacao-bg {
  max-width: 1248px;
  align-items: center;
  margin-left: auto;
  margin-right: auto; }
  .navegacao-bg ul.breadcrumb {
    padding: 10px 16px;
    list-style: none; }
  .navegacao-bg ul.breadcrumb li {
    display: inline;
    font-size: 16px;
    font-family: Averta; }
  .navegacao-bg ul.breadcrumb li + li:before {
    padding: 8px;
    color: #242625;
    content: ">"; }
  .navegacao-bg ul.breadcrumb li a {
    color: #006B3F;
    text-decoration: none; }
  .navegacao-bg ul.breadcrumb li a:hover {
    color: #F18815;
    text-decoration: none; }

.explore-bg {
  max-width: 1248px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-left: auto;
  margin-right: auto; }
  .explore-bg .btn-principal {
    background-color: #006B3F;
    width: 142px;
    height: 48px;
    color: #FFFFFF;
    font-family: Averta;
    font-size: 16px;
    line-height: 16px;
    border-radius: 8px;
    border: none; }
  .explore-bg .explore-mrv {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 15%; }
    .explore-bg .explore-mrv .mrv-co img {
      width: 152px;
      height: 26.72px;
      margin-bottom: 24px; }
    .explore-bg .explore-mrv .btn-mrv {
      background-color: #FFFFFF;
      width: 152px;
      height: 47.51px;
      border-radius: 8px;
      border: 2px solid #006B3F; }
      .explore-bg .explore-mrv .btn-mrv img {
        justify-content: center;
        align-items: center; }

.valores-bg {
  max-width: 1248px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin-left: auto;
  margin-right: auto; }
  .valores-bg .valores-det {
    display: grid;
    grid-template-columns: 300px 300px;
    font-family: Averta; }
    .valores-bg .valores-det details summary {
      font-size: 16px;
      color: #006B3F;
      font-weight: 700;
      position: relative; }
    .valores-bg .valores-det details summary::marker {
      color: transparent; }
    .valores-bg .valores-det details summary::after {
      content: "∨";
      position: absolute;
      color: green;
      font-size: 1em;
      font-weight: bold;
      right: 1em;
      top: .2em;
      transition: all 0.5s; }
    .valores-bg .valores-det details details[open] summary::after {
      content: "-";
      color: red;
      transform: translate(5px, 0) rotate(45deg); }
    .valores-bg .valores-det details p {
      font-family: Averta;
      font-size: 16px; }
    .valores-bg .valores-det hr {
      width: 400px;
      height: 2px;
      border-radius: 4px;
      background-color: #006B3F;
      color: #000000;
      border: none; }
